<!--  app/templates/component-route.hbs  -->

{{#handle-events}}
<span style="cursor: pointer;">从我身上飘过或者点我都会触发事件~</span>
{{/handle-events}}


<br><br>
{{#drop-target action="didDrop"}}
xxxx
{{/drop-target}}