<!-- app/templates/application.hbs -->

<div class="container-fluid">

<!--
<header>
	<h1>ubuntuvim's Blog</h1>
</header>
-->

<div>
	<!-- 所有的模板都会渲染到这里 -->
	{{outlet}}
</div>


<footer class='footer'>
	&copy;2015 ubuntuvim's Publishing,Inc
</footer>

</div>
